<template>
  <v-container>
    <!-- Jetzt Buchen -->
    <v-row align="center" justify="space-around">
      <v-btn
        class="bookbtn white--text"
        width="330px"
        color="#F9A825"
        cols="12"
        @click="booknow()"
        >Jetzt Buchen</v-btn
      >
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "BookNow",
  props: ["timeSlots", "slotIndex", "amount", "priceSum"],

  data: function () {
    return {};
  },
  methods: {
    booknow() {
      alert(
        "Booking Timeslot at " +
          JSON.stringify(this.timeSlots[this.slotIndex].begin) +
          ", " +
          this.amount +
          " tickets at " +
          this.priceSum +
          "€ succeeded."
      );
    },
  },
};
</script>

<style scoped>
.bookbtn {
  border-radius: 8px;
  color: white;
  font-weight: 500;
}
.v-btn {
  text-transform: none !important;
}
</style>
