<template>
  <v-container>
    <!-- Header -->
    <v-row align="center" justify="center">
      <v-img
        class="banner"
        :src="require('../assets/dynamaze_banner.png')"
      ></v-img>
    </v-row>
    <v-row align="center" justify="center">
      <v-divider color="#F9A825"></v-divider>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Header",
};
</script>

<style scoped>
.banner {
  max-height: 100%;
  max-width: 45%;
}
</style>
