<template>
  <v-container>
    <v-row align="center">
      <v-img
        class="headerimg"
        contain
        src="https://firebasestorage.googleapis.com/v0/b/dynamaze---pwa-1550221436823.appspot.com/o/public%2Fimg%2Fdeals%2Ffunfussball1.png?alt=media&token=448599c6-ffb7-43f4-afc9-dfb82ce426f0"
      ></v-img>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "HeaderImg",
};
</script>

<style scoped>
.headerimg {
  border-radius: 30px 0px 30px 0px;
}
</style>
