<template>
  <v-container>
    <!-- Header -->
    <v-row align="center" justify="center">
      <Header />
    </v-row>

    <!-- Image -->
    <v-row align="center" justify="space-around">
      <HeaderImg />
    </v-row>

    <!-- Ticketslot/Ticketamount/PriceSum/BookNow -->
    <v-row align="center" justify="space-around">
      <Ticketslots :timeSlots="timeSlots" />
    </v-row>
  </v-container>
</template>

<script>
import Header from "../components/Header";
import HeaderImg from "../components/HeaderImg";
import Ticketslots from "../components/Ticketslots";
export default {
  name: "Overview",
  components: {
    Header,
    HeaderImg,
    Ticketslots,
  },

  data: function () {
    return {
      timeSlots: [
        {
          id: "1",
          ticketAmount: 10,
          begin: "10:00",
          chosenSlot: false,
          price: {
            cost: 11,
            currency: "EUR",
          },
        },
        {
          id: "2",
          ticketAmount: 11,
          begin: "11:00",
          chosenSlot: false,
          price: {
            cost: 12,
            currency: "EUR",
          },
        },
      ],
    };
  },
  methods: {},
};
</script>

<style scoped>
.my-container {
  position: relative;
  /* overflow-y: auto; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
</style>
