<template>
  <v-container>
    <!-- PriceSum -->
    <v-row align="center" justify="space-around">
      <v-col
        style="
          color: rgba(85, 201, 62, 0.911);
          font-weight: bold;
          font-size: 1.1em;
        "
        cols="12"
        >{{ priceSum }}€</v-col
      >
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "PriceSum",
  props: ["priceSum"],

  data: function () {
    return {};
  },
};
</script>

<style scoped></style>
