<template>
  <v-container>
    <v-row align="center">
      <v-col v-for="(timeSlot, index) in timeSlots" :key="timeSlot.id">
        <v-col cols="12" style="transform: scale(0.62)">
          <div
            class="slotbox"
            elevation="2"
            :class="{ green: timeSlots[index].chosenSlot }"
            @click="chooseSlot(index)"
          >
            <v-col cols="12">{{ timeSlot.begin }}</v-col>

            <v-divider
              :class="{ white: timeSlots[index].chosenSlot }"
              color="green"
              width="80px"
              class="ml-7"
            ></v-divider>

            <v-col cols="12"
              >{{ timeSlot.price.cost }}{{ timeSlot.price.currency }}</v-col
            >
          </div></v-col
        >
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="12"
        >Nur noch
        {{ JSON.stringify(timeSlots[slotIndex].ticketAmount) }} Tickets
        vorhanden.
      </v-col>
    </v-row>

    <!-- Ticketamount -->
    <v-row align="center" justify="center">
      <v-col cols="3">
        <v-btn style="font-size: 1.4em" class="addSub" @click="subTicket"
          >-</v-btn
        >
      </v-col>
      <v-col style="font-size: 1.2em" align="center" cols="4"
        >{{ amount }} Tickets</v-col
      >
      <v-col cols="3">
        <v-btn style="font-size: 1.4em" class="addSub" @click="addTicket"
          >+</v-btn
        >
      </v-col>
    </v-row>

    <!-- PriceSum -->
    <v-row align="center" justify="space-around">
      <PriceSum :priceSum="priceSum" />
    </v-row>

    <!-- Jetzt Buchen -->
    <v-row align="center" justify="space-around" class="mt-15">
      <BookNow
        :slotIndex="slotIndex"
        :priceSum="priceSum"
        :amount="amount"
        :timeSlots="timeSlots"
      />
    </v-row>
  </v-container>
</template>

<script>
import BookNow from "../components/BookNow";
import PriceSum from "../components/PriceSum";
export default {
  name: "Ticketslots",
  props: ["timeSlots"],
  components: {
    PriceSum,
    BookNow,
  },

  data: function () {
    return {
      priceSum: 0,
      slotIndex: 0,
      amount: 0,
    };
  },
  methods: {
    chooseSlot(index) {
      //reset selection everytime new slot is chosen
      for (let i = 0; i < this.timeSlots.length; i++) {
        this.timeSlots[i].chosenSlot = false;
      }

      //set specific slot green
      this.timeSlots[index].chosenSlot = true;

      //update slots
      this.slotIndex = index; //index of Array (slots)
      this.priceSum =
        this.amount * JSON.stringify(this.timeSlots[this.slotIndex].price.cost);
      if (
        this.amount >
        JSON.stringify(this.timeSlots[this.slotIndex].ticketAmount)
      ) {
        this.amount = 1;
        this.priceSum =
          this.amount *
          JSON.stringify(this.timeSlots[this.slotIndex].price.cost);
      }
    },
    // add ticket
    addTicket() {
      this.amount++;
      this.priceSum =
        this.amount * JSON.stringify(this.timeSlots[this.slotIndex].price.cost);
      // alert if amount goes above amount of avaiable Tickets
      if (
        this.amount >
        JSON.stringify(this.timeSlots[this.slotIndex].ticketAmount)
      ) {
        alert("Anzahl der verfügbaren Tickets überschritten!");
        this.amount--;
        this.priceSum =
          this.amount *
          JSON.stringify(this.timeSlots[this.slotIndex].price.cost);
      }
    },
    // sub ticket
    subTicket() {
      this.amount--;
      this.priceSum =
        this.amount * JSON.stringify(this.timeSlots[this.slotIndex].price.cost);
      // alert if amount goes < 0 Tickets
      if (this.amount < 0) {
        alert("Anzahl der Tickets kann nicht weniger als 0 sein!");
        this.amount = 0;
        this.priceSum =
          this.amount *
          JSON.stringify(this.timeSlots[this.slotIndex].price.cost);
      }
    },
  },
};
</script>

<style scoped>
.slotbox {
  border: 2px;
  border-style: solid;
  border-color: rgb(80, 197, 80);
  border-radius: 15px;
  color: green;
  width: 100%;
  font-weight: 600;
  font-size: 1.2em;
}
.addSub {
  border: 2px;
  border-style: solid;
  border-color: rgb(61, 219, 61);
  border-radius: 30px;
  font-size: 2em;
}
.white {
  color: white;
}
.green {
  color: white;
  background-color: rgba(85, 228, 109, 0.856);
}
</style>
